@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}
main {
    padding: 16px;
    margin-bottom: 2em;
}
footer {
    padding: 25px 0px 25px 20px;
    position: fixed;
    bottom: 0;
    background-color: #F53107;
    width: 100%
}
img {
    height: 200px;
}
nav{
    border-bottom: 1px solid #ce9c10;
    padding: 16px;
    color: white
}
h1{
    color: #549222;
}
a:hover :visited{
    color: green
}
a {
    text-decoration: none;
}
a:visited {
    color: #26480b
}
header {
    background-color: #F4B505;
    font-size: 1.5em;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.grid_item1 {
    grid-column: 1/2;
    grid-row: 1/2
}
.grid_item2 {
    grid-column: 2/3;
    grid-row: 1/2
}
.grid_item3 {
    grid-column: 3/4;
    grid-row: 1/2
}
.grid_item4 {
    grid-column: 4/5;
    grid-row: 1/2
}
.grid_item5 {
    grid-column: 1/2;
    grid-row: 2/3
}
table tr:nth-child(2n + 2) {
    background-color: lightgray;
}
.bigger-font{
    font-size: 1.6rem;
}
